/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Georgia', serif;
    background-color: #080808; /* Soft background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 105vw;
    max-width: 1200px;
    height: 95vh;
    background-color: #252524;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Left Section Styling */
.text-section {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #d8d8d8;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 1rem;
    color: #d8d8d8;
    margin-bottom: 20px;
}

.headline {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #d8d8d8;
}

.description {
    font-size: 1rem;
    line-height: 1.6;
    color: #d8d8d8;
    margin-bottom: 20px;
    max-width: 85%;
}

.read-more {
    font-size: 1rem;
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.read-more:hover {
    text-decoration: underline;
}

/* Right Section Styling */
.image-section {
    flex: 1;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
